@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: roboto;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
    .container{
        width: 992px;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 768px){
    .container{
        width: 760px;
        padding: 0 15px;
    }
    // .header{
    //     .head-nav{
    //         flex-direction: column;
    //         justify-content: flex-start;
    //         align-items: start !important;
    //         .navlist{
    //             flex-direction: column;
    //         }        
    //         .btns{
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: flex-start;
    //             .btn-nav{
    //                 padding: 20px !important;
    //             }
    //         }
    //     }
    // }
}

@media only screen and (max-width:767px ){
    .container{
        width: auto;
    }
}